---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import { services, clients, resources } from "../utils";
---

<Layout title="LYC Consultores - Inicio">
  <header class="text-white">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="fw-light">Bienvenido a LYC Consultores</h1>
          <p class="lead">Un poder que hace brillar su negocio</p>
          <a
            class="btn btn-primary fs-5 text-uppercase fw-semibold py-3 px-4"
            href="#contact"
          >
            Contáctanos
          </a>
        </div>
      </div>
    </div>
  </header>

  <Section id="services" title="Nuestros servicios">
    <div class="row">
      {
        services.map(({ title, description, slug }) => (
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card">
              <img
                src={`/img/services/${slug}.webp`}
                class="card-img-top"
                style="aspect-ratio: 1; object-fit: cover;"
                loading="lazy"
                alt={title}
              />
              <div class="card-body">
                <h5 class="card-title">{title}</h5>
                <p class="card-text">{description}</p>
                <a href={`/services/${slug}`} class="btn btn-primary">
                  Leer más
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </Section>

  <Section id="clients" title="Nuestros clientes" variant="primary">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-4">
      {
        clients.map(({ name, slug }) => (
          <div class="col text-center">
            <div class="card">
              <div class="card-img">
                <img
                  src={`/img/clients/${slug}.webp`}
                  style="width: 100%; object-fit: cover;"
                  loading="lazy"
                  alt={name}
                />
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </Section>

  <Section id="official-resources" title="Recursos Oficiales">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
      {
        resources.map(({ title, link, slug }) => (
          <div class="col text-center">
            <div class="card">
              <div class="card-img">
                <a href={link} target="_blank">
                  <img
                    src={`/img/resources/${slug}.webp`}
                    style="width: 100%; object-fit: cover;"
                    loading="lazy"
                    alt={title}
                  />
                </a>
              </div>
              <div class="card-body">
                <a href={link} target="_blank">
                  <h5 class="card-title">{title}</h5>
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </Section>

  <Section id="contact" title="Contáctanos" variant="primary">
    <div class="row">
      <div class="col-lg-6 mb-lg-3">
        <iframe
          class="map bg-white"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26637.65122209123!2d-70.61549!3d-33.430898!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf742a1a3f35%3A0xced2ef3632c9ac20!2sAv.%20Pocuro%202255%2C%207510852%20Providencia%2C%20Regi%C3%B3n%20Metropolitana%2C%20Chile!5e0!3m2!1ses!2sus!4v1714241302885!5m2!1ses!2sus"
          width="100%"
          height="100%"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-lg-6">
        <form id="contact-form">
          <div class="row align-items-stretch mb-5">
            <div class="form-group mb-3">
              <input
                class="form-control"
                name="name"
                type="text"
                placeholder="Nombre y apellido *"
                required
              />
            </div>

            <div class="form-group mb-3">
              <input
                class="form-control"
                name="email"
                type="email"
                placeholder="Correo Electrónico *"
                required
              />
            </div>

            <div class="form-group mb-3">
              <input
                class="form-control"
                name="subject"
                type="text"
                placeholder="Asunto *"
                required
              />
            </div>

            <div class="form-group">
              <textarea
                class="form-control"
                name="message"
                placeholder="Mensaje *"
                rows="6"
                required></textarea>
            </div>
          </div>

          <div class="text-center">
            <button
              class="btn btn-light fs-5 text-uppercase fw-semibold py-3 px-4"
              type="submit"
            >
              Enviar
            </button>

            <div id="form-valid-feedback" class="valid-feedback text-center">
              El correo se envió correctamente.
            </div>
            <div
              id="form-invalid-feedback"
              class="invalid-feedback text-center"
            >
              No se ha podido enviar el correo. Intentelo más tarde.
            </div>
          </div>
        </form>
      </div>
    </div>
  </Section>
</Layout>

<style>
  header {
    height: 100vh;
    min-height: 500px;
    background-color: #101010;
    background-image: url("/img/header.webp");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

  header h1 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  ul {
    margin-bottom: 0;
  }

  .card {
    height: 100%;
  }

  .card-img {
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  @media (max-width: 992px) {
    .map {
      min-height: 300px;
    }
  }

  .mb-lg-3 {
    margin-bottom: 0 !important;
  }

  @media (max-width: 992px) {
    .mb-lg-3 {
      margin-bottom: 1rem !important;
    }
  }
</style>

<script>
  const $form: HTMLFormElement = document.querySelector("#contact-form");
  const $valid_feedback: HTMLDivElement = document.querySelector(
    "#form-valid-feedback"
  );
  const $invalid_feedback: HTMLDivElement = document.querySelector(
    "#form-invalid-feedback"
  );

  $form.addEventListener("submit", handleSubmit);

  function handleSubmit(event: Event) {
    event.preventDefault();

    const form: FormData = new FormData(this);
    const name: FormDataEntryValue = form.get("name");
    const from: FormDataEntryValue = form.get("email");
    const subject: FormDataEntryValue = form.get("subject");
    const body: FormDataEntryValue = form.get("message");
    console.log(JSON.stringify({ name, from, subject, body }));

    if (
      typeof name !== "string" ||
      typeof from !== "string" ||
      typeof subject !== "string" ||
      typeof body !== "string"
    )
      return;

    fetch("https://send-mail-api.lycconsultores.cl", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ name, from, subject, body }),
    })
      .then(() => {
        $invalid_feedback.setAttribute("style", "display: none;");
        $valid_feedback.setAttribute("style", "display: block;");
      })
      .catch(() => {
        $valid_feedback.setAttribute("style", "display: none;");
        $invalid_feedback.setAttribute("style", "display: block;");
      });
  }
</script>
